<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <button
        routerLink="add"
        type="button"
        class="btn btn-primary float-right"
      >
        Add User
      </button>
    </div>
    <div class="card-body">
      <h6 class="card-title">Users</h6>
      <div class="table-responsive">
        <table
          class="table table-hover"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.status }}</td>
              <td>
                <div class="text-center">
                  <div class="btn-group" role="group">
                    <button class="btn btn-danger" (click)="delete(user)">
                      <i data-feather="trash-2" appFeatherIcon></i>
                    </button>
                    <button
                      routerLink="/users/update/{{ user.id }}"
                      class="btn btn-success"
                    >
                      <i data-feather="edit" appFeatherIcon></i>
                    </button>
                    <button
                      routerLink="/users/roleupdate/{{ user.id }}"
                      class="btn btn-primary"
                    >
                      <i data-feather="key" appFeatherIcon></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
