<div class="container-fluid">
  <div class="card">
    <form [formGroup]="patientAddForm">
      <div class="card-body">
        <div class="mb-3">
          <label for="sponsorId">Sponsors</label>
          <div class="row">
            <div class="form-group col-11">
              <select
                class="custom-select"
                formControlName="sponsorId"
                (change)="selectedSponsor()"
              >
                <option selected disabled="">Select one</option>
                <option *ngFor="let sponsor of sponsors" [ngValue]="sponsor.id">
                  {{ sponsor.name }}
                </option>
              </select>
            </div>
            <app-add-sponsor class="form-group col-1" *ngIf="!isSiteCoordinator"></app-add-sponsor>
          </div>
        </div>
        <div class="mb-3" *ngIf="sponsorId">
          <label for="studyId">Protocols</label>
          <div class="row">
            <div class="form-group col-11">
              <select
                class="custom-select"
                formControlName="studyId"
                (change)="selectedStudy()"
              >
                <option selected disabled="">Select one</option>
                <option *ngFor="let study of studies" [ngValue]="study.id">
                  {{ study.protocolCode }}
                </option>
              </select>
            </div>
            <app-add-study class="form-group col-1" *ngIf="!isSiteCoordinator"></app-add-study>
          </div>
        </div>
        <div class="mb-3" *ngIf="studyId">
          <label for="siteId">Sites</label>
          <div class="row">
            <div class="form-group col-11">
              <select class="custom-select" formControlName="siteId">
                <option selected disabled="">Select one</option>
                <option *ngFor="let site of sites" [ngValue]="site.id">
                  {{ site.siteName }} / {{ site.siteNumber }}
                </option>
              </select>
            </div>
            <app-add-site class="form-group col-1" *ngIf="!isSiteCoordinator"></app-add-site>
          </div>
        </div>
        <div class="mb-3">
          <label for="subjectNo">Subject No</label>
          <div class="form-group">
            <input
              type="text"
              id="subjectNo"
              formControlName="subjectNo"
              class="form-control"
              placeholder="Enter subject no"
            />
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="submit"
          class="btn btn-success"
          (click)="add()"
          [disabled]="!patientAddForm.valid || clicked"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
