<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <button
        routerLink="add"
        type="button"
        class="btn btn-primary float-right"
      >
        Add Visit
      </button>
    </div>
    <div class="card-body">
      <h6 class="card-title">Visits</h6>
      <div class="table-responsive">
        <table
          class="table table-hover"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead>
            <tr>
              <th>Patient</th>
              <th>Visit No</th>
              <th>Visit Date</th>
              <th>Time Spent</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let visit of visits">
              <td>{{ visit.subjectNo }}</td>
              <td>{{ visit.visitNo }}</td>
              <td>
                {{ visit.visitDate | date: "dd/MM/yyyy" }}
              </td>
              <td>{{ visit.timeSpent }}</td>
              <td>{{ visit.description }}</td>
              <td>
                <div class="text-center">
                  <div class="btn-group" role="group">
                    <button class="btn btn-danger" (click)="delete(visit)">
                      <i data-feather="trash-2" appFeatherIcon></i>
                    </button>
                    <button
                      routerLink="/visits/update/{{ visit.id }}"
                      class="btn btn-success"
                    >
                      <i data-feather="edit" appFeatherIcon></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
