<div class="container-fluid">
  <div class="card">
    <form [formGroup]="visitAddForm">
      <div class="card-body">
        <div class="mb-3">
          <label for="sponsorName">Sponsors</label>
          <div class="row">
            <div class="form-group col-11">
              <select
                class="custom-select"
                formControlName="sponsorName"
                (change)="selectedSponsor()"
              >
                <option selected disabled="">Select one</option>
                <option *ngFor="let assignment of assignments" [ngValue]="assignment.sponsorName">
                  {{ assignment.sponsorName }}
                </option>
              </select>
            </div>
            <app-add-sponsor class="form-group col-1"></app-add-sponsor>
          </div>
        </div>
        <div class="mb-3" *ngIf="sponsorName">
          <label for="protocolCode">Protocols</label>
          <div class="row">
            <div class="form-group col-11">
              <select
                class="custom-select"
                formControlName="protocolCode"
                (change)="selectedStudy()"
              >
                <option selected disabled="">Select one</option>
                <option *ngFor="let assignment of assignments1" [ngValue]="assignment.protocolCode">
                  {{ assignment.protocolCode }}
                </option>
              </select>
            </div>
            <app-add-study class="form-group col-1"></app-add-study>
          </div>
        </div>
        <div class="mb-3" *ngIf="protocolCode">
          <label for="siteName">Sites</label>
          <div class="row">
            <div class="form-group col-11">
              <select
                class="custom-select"
                formControlName="siteName"
                (change)="selectedSite()"
              >
                <option selected disabled="">Select one</option>
                <option *ngFor="let assignment of assignments2" [ngValue]="assignment.siteName">
                  {{ assignment.siteName }} / {{ assignment.siteNumber }}
                </option>
              </select>
            </div>
            <app-add-site class="form-group col-1"></app-add-site>
          </div>
        </div>
        <div class="mb-3" *ngIf="siteName">
          <label for="patientId">Patients</label>
          <div class="row">
            <div class="form-group col-11">
              <select class="custom-select" formControlName="patientId">
                <option selected disabled="">Select one</option>
                <option *ngFor="let patient of patients" [ngValue]="patient.id">
                  {{ patient.subjectNo }}
                </option>
              </select>
            </div>
            <app-add-patient class="form-group col-1"></app-add-patient>
          </div>
        </div>
        <div class="mb-3">
          <label for="visitNo">Visit No</label>
          <div class="form-group">
            <input
              type="text"
              id="visitNo"
              formControlName="visitNo"
              class="form-control"
              placeholder="Enter visit no"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="visitNo">Visit Date</label>
          <div class="form-group">
            <div class="input-group" (click)="d.toggle()">
              <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" (dateSelect)="onDateSelect($event)" ngbDatepicker #d="ngbDatepicker" placement="top-left" autoClose="true">
              <div class="input-group-append">
                <button class="btn btn-outline-light btn-icon calendar" type="button">
                  <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="timeSpent">Time Spent</label>
          <div class="form-group">
            <select
              class="custom-select my-1 mr-sm-2"
              formControlName="timeSpent"
            >
              <option selected disabled="">Select one</option>
              <option *ngFor="let number of numbers" [ngValue]="number">
                {{ number }} Hours
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label for="description">Description</label>
          <div class="form-group">
            <input
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
              placeholder="Enter description"
            />
          </div>
        </div>
        <input
          type="text"
          id="userId"
          formControlName="userId"
          style="visibility: hidden"
        />
      </div>
      <div class="card-footer">
        <button
          type="submit"
          class="btn btn-success"
          (click)="add()"
          [disabled]="!visitAddForm.valid || clicked"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
