<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <button
        routerLink="add"
        type="button"
        class="btn btn-primary float-right"
      >
        Add Assignment
      </button>
    </div>
    <div class="card-body">
      <h6 class="card-title">Assignments</h6>
      <div class="table-responsive">
        <table
          class="table table-hover"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead>
            <tr>
              <th>Site Number</th>
              <th>Email</th>
              <th>Cra Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let assignment of assignments">
              <td>{{ assignment.siteNumber }}</td>
              <td>{{ assignment.email }}</td>
              <td>{{ assignment.craName }}</td>
              <td>{{ assignment.status }}</td>
              <td>
                <div class="text-center">
                  <div class="btn-group" role="group">
                    <button class="btn btn-danger" (click)="delete(assignment)">
                      <i data-feather="trash-2" appFeatherIcon></i>
                    </button>
                    <button
                      routerLink="/assignments/update/{{ assignment.id }}"
                      class="btn btn-success"
                    >
                      <i data-feather="edit" appFeatherIcon></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
