<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <button
                routerLink="/sponsors/add"
                type="button"
                class="btn btn-primary float-right"
            >
                Add Sponsor
            </button>
        </div>
        <div class="card-body">
            <div class="card-body">
                <table
                    class="table table-bordered table-striped table-hover"
                    datatable
                    [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger"
                >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sponsor of sponsors">
                            <td>{{ sponsor.name }}</td>
                            <td>
                                <div class="text-center">
                                    <div class="btn-group" role="group">
                                        <button
                                            class="btn btn-danger"
                                            (click)="delete(sponsor)"
                                        >
                                            <i data-feather="trash-2" appFeatherIcon></i>
                                        </button>
                                        <button
                                            routerLink="/sponsors/update/{{
                                                sponsor.id
                                            }}"
                                            class="btn btn-success"
                                        >
                                            <i data-feather="edit" appFeatherIcon></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
